*{
    box-sizing: border-box;
    color: rgba(255, 255, 255, .4);
    font-family: 'Dancing Script', cursive;
}

body{
    background-image: url(/assets/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.primary-title{
    font-size: 3em;
    line-height: 1rem;
    margin: 1em 0 0.5em;
}

.content{
    padding-bottom: 3em;
}

.content h2{
    font-size: 2.4em;
    padding-bottom: 25px;
}

.content-article h3{
    padding-bottom: 2em;
    font-size: 1.8em;
}

.content-article{
    width: 80%;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.list{
    list-style: none;
}

.list li{
    display: inline-block;
    position: relative;
    z-index: 0;
    transition: all .4s;
}

.list img{
    display: block;
    width: 275px;
    height: auto;
}

.list a{
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .7);
    margin: 0 6px 20px;
    padding: 10px 10px 25px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    display: inline-block;
}

.list a:after{
    content: attr(title);
    color: #333;
    font-size: 1.25em;
    position: relative;
    top: 10px;
}

ul li:nth-child(4n+1){
    transform: rotate(4deg);
}

ul li:nth-child(4n+3){
    transform: rotate(-24deg);
}

ul li:nth-child(2n+2){
    transform: rotate(14deg);
} 

ul li:nth-child(5n+5){
    transform: rotate(-8deg);
}

ul li:nth-child(6){
    transform: rotate(2deg);
}

ul li a:hover{
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, .8);
}

ul li:hover{
    transform: rotate(0deg) scale(1.25);
    z-index: 10;
}

footer{
    background-color: rgba(255, 255, 255, .25);
    color: rgba(255, 255, 255, .7);
    font-size: 1.5em;
    padding: 1em;
}

footer p{
    display: inline;
}