*{
    box-sizing: border-box;
    color: rgba(255, 255, 255, .4);
    font-family: 'Dancing Script', cursive;
}

body{
    background-image: url(/assets/images/fondo.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.primary-title{
    font-size: 3rem;
    line-height: 1em;
    margin: 1em 0 0.5em;
}

.content{
    padding-bottom: 3em;
}

.title-content{
    font-size: 2.4rem;
    padding-bottom: 25px;
}

.content-article{
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.title-article{
    font-size: 1.8em;
    padding-bottom: 2rem;
}

.list{
    list-style: none;
}

.list-item{
    display: inline-block;
    position: relative;
    transition: all .4s;
    z-index: 0;
}

.list-image{
    display: block;
    height: auto;
    max-width: 100%;
    width: 275px;
}

.list-link{
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .7);
    display: inline-block;
    margin: 0 6px 20px;
    padding: 10px 10px 25px;
    text-decoration: none;
    z-index: 0;
}

.list-link:after{
    content: attr(title);
    color: #333;
    font-size: 1.25rem;
    top: 10px;
}

.list-item:nth-child(4n+1){
    transform: rotate(4deg);
}

.list-item:nth-child(4n+3){
    transform: rotate(-24deg);
}

.list-item:nth-child(2n+2){
    transform: rotate(14deg);
} 

.list-item:nth-child(5n+5){
    transform: rotate(-8deg);
}

.list-item:nth-child(6){
    transform: rotate(2deg);
}

.list-link:hover{
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, .8);
}

.list-item:hover{
    transform: rotate(0deg) scale(1.25);
    z-index: 10;
}

.footer{
    background-color: rgba(255, 255, 255, .25);
    color: rgba(255, 255, 255, .7);
    font-size: 1.5rem;
    padding: 1em;
}

.footer-paragraph{
    display: inline;
}